<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='pics/logo.png') }}">
</head>
<body>
    <div class="whole"></div>
    <div class="content">
        <div class="logo-image">
            <img src="{{ url_for('static', filename='pics/logo.png') }}" alt="FOODiMi">
        </div>
        <form method='POST' action="/" class="main-form">
            <div class="prompt-outside">
                <div class="prompt-form">
                    <textarea name='user_prompt' placeholder="Type Anything if u want something specifically" rows="5" cols="40" class="input-text"></textarea>
                    <div class="start-button">
                        <button type="submit">Click To Generate</button>
                    </div>
                </div>
            </div>
            
            <div class="chosen-area">
                <div class="output-text">
                    {{reply}}
                </div>
            </div>
            <div class="right-panel">
                <div class="choose-heading">Choose ur Ingridients</div>
                <div class="dropdown-area">
                    <div class="dropdown">
                        {% for k, v in data.items() %}
                        <details class="dropdown-item">
                        <summary>{{ k }}</summary>
                        <div class="option-list">
                            {% for item in v %}
                            <label tabindex="0">
                                <input type="checkbox" name="ingredients" value="{{ item }}"> {{ item }}
                            </label>
                            {% endfor %}
                        </div>
                        </details>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>